public/echo_service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.without-brains.net/echo" xmlns="http://www.without-brains.net/echo" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
  <xs:complexType name="EchoMessageType">
    <xs:sequence>
      <xs:element name="Message" type="xs:string" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoRequest" type="EchoMessageType"/>
  <xs:element name="EchoResponse" type="EchoMessageType"/>
</xs:schema>
